{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Simulador elecciones Argentina 2023</title>
        <meta charset="utf-8">
        <meta name="description" content="Simulador de elecciones Argentina 2023">
        <meta name="keywords" content="Simulador de elecciones Argentina 2023">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Simulador de elecciones Argentina 2023" />
        <meta property="twitter:description" content="{% if winner %}Para mi que gana {{ winner }} con el {{ percentage }}%{% else %}Simulador de elecciones Argentina 2023 {% endif %}" />
        <meta property="og:description" content="{% if winner %}Para mi que gana {{ winner }} con el {{ percentage }}%{% else %}Simulador de elecciones Argentina 2023 {% endif %}" />
        <meta property="og:image" content="{{ image_link }}"  />
        <meta property="og:url" content="https://simuladorelecciones.vercel.app/" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="es_AR" />
        <meta property="og:site_name" content="Simulador de elecciones Argentina 2023" />
        <meta name="twitter:title" content="Simulador Elecciones 2023" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@paneumo" />
        <meta name="twitter:image" content="{{ image_link }}" />
        <meta name="twitter:image:src" content="{{ image_link }}" />
        <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/logo.css' %}">
        <link rel="stylesheet" href="{% static 'css/inputs.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" sizes="16x16">
        <script type="text/javascript">
            var candidatesURL = "{% static 'data/candidates.json' %}";
            var partiesURL = "{% static 'data/parties.json' %}";
        </script>
</head>
<body>
    <div class="introduction">
        Indicá cuánto creés que va a sacar cada candidato en las PASO y cómo se van a distribuir sus votos en la generales.
    </div>
    <div class="container">

        <div id="primary-section">
            <div class="election-title primary-background">PASO</div>

            <div id="primary-input-progress-bar">
                <div id="primary-input-total" style="position: absolute; height: 100%; background-color: #6699cc; width: 0;"></div>
                <div id="primary-input-text" style="position:absolute; right:5px; background-color:white; border-radius:5px; border:1px solid black; padding:1px 10px;">0%</div>
                <div id="primary-input-message">
                    Asegurate que los votos sumen 100!
                </div>
            </div>
            
            <div id="primary-candidates" class="candidates">
                <div id="primary-candidates-title" class="candidates-title"></div>
                <div id="primary-candidates-row" class="candidates-row"></div>
            </div>
            <div id="primary-retention" class="retention row-closed">
                <div id="primary-retention-title" class="retention-title"></div>
                <div id="primary-retention-row" class="retention-row"></div>
            </div>
        </div>
        <div id="general-section">
            <div class="election-title general-background">General</div>
            <div id="general-candidates">
                <div id="general-candidates-title"></div>
                <div id="general-candidates-row" class="candidates-row"></div>
            </div>
            <div id="general-retention" class="retention row-closed">
                <div id="general-retention-title"  class="retention-title"></div>
                <div id="general-retention-row" class="retention-row"></div>
            </div>
        </div>
        <div id="ballotage-section">
            <div class="election-title ballotage-background">Ballotage</div>
            <div id="ballotage-candidates">
                <div id="ballotage-candidates-title"></div>
                <div id="ballotage-candidates-row" class="candidates-row"></div>
            </div>
        </div>
        <div id="election-results" class="election-results">
            <div class="election-results-left">
                <div class="election-results-title">
                    Con tus estimaciones, Julian Gallardo es el nuevo presidente de Argentina.
                </div>
                <div id="share-button-container">
                    <button id="share-button" onclick="openShare()" title="Compartir">Compartir</button>
                </div>
            </div>
            <div id="election-results-card" style="display:flex; flex-direction:row;">
                <div id="election-results-imgs">
                    <img id="election-results-img" src="./static/img/image-template.png">
                    <div id="election-results-type">
                        <div id="election-results-type-title"></div>
                        <div id="election-results-type-loser">
                            <img id="election-results-img-loser"  src="./static/img/image-template.png">
                        </div>
                    </div>
                </div>
                <div id="election-results-text">
                    <div id="election-results-text-title">
                        <div id="election-results-text-winner"></div>
                        <div id="election-results-text-party"></div>
                    </div>
                    <div id="election-results-text-percent"></div>
                </div>
            </div>

            <!--create modal for openshare()-->
            <div id="share-modal" class="modal">
                <div class="modal-content">
                    <span id="close-modal-btn" class="close" onclick="closeShare()">&times;</span>
                    <div id="share-modal-img">
                        <img id="share-modal-img-img" src="./static/img/card-template.png">
                    </div>
                    <div id="share-modal-link" title="Copiado!" onclick="copyToClipboard(event)" >
                        <div id="url-to-copy">simuladorelecciones.vercel.app</div>
                        <div id="share-modal-link-img"></div>
                    </div>
                    <div id="share-modal-text">
                    <a id="share-modal-twitter" href="https://twitter.com/intent/tweet?text=Mi predicción para estas elecciones&url=https://simuladorelecciones.vercel.app">Twittear</a>
                    <button id="share-modal-title" onclick="shareButton()" title="Compartir">Compartir</button>
                    </div>
                </div>
        </div>

    </div>  

    <div id="logo">
        <div class = "circle-container">
            <div id="circle1" class="circle"></div>
            <div id="circle2" class="circle"></div>
        </div>
        <div id="logo-text">
        <a href="https://simuladorelecciones.vercel.app/" style="color:black;">Simulador de Elecciones</a>
        </div>
    </div>

    <button id="reset-button" class="reset-button" title="Resetear"></button>
      
<script src="./static/js/d3.min.js"></script>
<script src="./static/js/functionsDocument.js"></script>
<script src="./static/js/functions.js"></script>
<script src="./static/js/handleRetentionRow.js"></script>
<script>
    
    let candidates, parties;

    let primaryCandidatesRow = d3.select("#primary-candidates-row");
    let primarySection = d3.select("#primary-section");
    
    let generalCandidatesRow = d3.select("#general-candidates-row");
    let generalSection = d3.select("#general-section");
    
    let ballotageCandidatesRow = d3.select("#ballotage-candidates-row");
    let ballotageSection = d3.select("#ballotage-section");

    let resultsSection = d3.select("#election-results");

    var primaryWinners = [];
    var generalResults = [];

    var shareModal = d3.select("#share-modal")
    var closeModal = d3.select("#close-modal-btn");

    let urlShare = d3.select("#url-to-copy");
    
    let dataId;
    let allInputs;

    Promise.all([
    d3.json(candidatesURL),
    d3.json(partiesURL)]).then(([candidates, parties]) => {

        let primaryCandidatesRow = d3.select("#primary-candidates-row")
        .selectAll("candidate-card")
        .data(candidates)
        .enter()
        .append("div")
        .attr("class", d => "candidate-card primary-candidate-card")
        .attr("id", d => "candidate-card-" + d.name)
        .style("border-bottom", d => "7px solid" + parties.find(p => p.name == d.party).color);
        
        // Append image
        primaryCandidatesRow.append("img")
        .attr("class", "candidate-card-img")
        .attr("id", d => "candidate-card-img-" + d.name)
        .attr("src", d => "./static/img/" + d.name + ".webp")
        .attr("alt", d => d.name);
        
        primaryCandidatesRow.append("p")
        .attr("class", "candidate-card-name")
        .text(d => d.name);
        
        let inputContainer = primaryCandidatesRow.append("div")
            .style("display", "flex")
            .style("flex-direction", "row")
            .style("align-items", "center");

        inputContainer.append("input")
            .attr("type", "number")
            .attr("min", 0)
            .attr("max", 100)
            .attr("value", 0)
            .attr("class", "primary-input")
            .attr("id", d => "primary-input-" + d.name)
            .on("input", function() {
                let currentElement = d3.select(this);
                let currentValue = currentElement.property("value");
                currentElement.property("value", Number(currentValue))
                
                let id = "primary-input"
                checkTotals(id, this);
                updateVotes(candidates, "primary");
                updatePrimaryWinners(parties, candidates);
                updateCandidateNames(parties, candidates)
            });;

        inputContainer.append("span")
            .text("%")
            .style("margin-left", "5px");

        primaryCandidatesRow.append("button")
        .attr("class", "primary-retention-button retention-button")
        .attr("title", d => "Retencion Primarias " + d.name)
        .text("Distrib.")
        .on("click", function (event, d) { 
            let candidate = d.name;
            let partyColor = parties.find(p => p.name == d.party).color;
            
            if (d3.select("#primary-retention").classed("row-closed") ) {
                createRetentionRow(candidate, partyColor, primarySection, "general", parties);
                d3.select(this)
                .style("background-color","#ADEBAD");
            } else if (d3.select(".party-card-" + candidate).style("display") == "none") {
                createRetentionRow(candidate, partyColor, primarySection, "general", parties);
                d3.select(this)
                .style("background-color","#ADEBAD");
            } else {
                closeRetentionRow(primarySection);
            }
        });
        
        initializeRetentionRow(candidates, parties, 'primary');
        updateVotes(candidates, "primary");
        updatePrimaryWinners(parties, candidates);

        d3.select("#reset-button")
            .on("click", function() {
                
                let allPrimaryInputs = d3.selectAll(".primary-input")
                    .property("value", 0);

                allPrimaryInputs.filter((d, i, nodes) => i === nodes.length - 1)
                    .dispatch("input");

                closeRetentionRow(primarySection);
                
                let primaryRetentionRow = d3.select("#primary-retention-row");

                primaryRetentionRow.selectAll(".range-input")
                .each(function() {
                    let currentElement = d3.select(this);
                    let currentValue = currentElement.property("value");

                    let candidate = currentElement.attr("id").split("-")[2];
                    let party = currentElement.attr("id").split("-")[3];
                    let candidateData = candidates.find(c => c.name == candidate);
                    
                    if (candidateData.party !== party) {
                    let newValue = 0;
                    if (currentValue != newValue) {
                        currentElement.property("value", newValue);
                        currentElement.dispatch("input");
                    }
                    }
                });

                primaryRetentionRow.selectAll(".range-input")
                .each(function() {
                    let currentElement = d3.select(this);
                    let currentValue = currentElement.property("value");

                    let candidate = currentElement.attr("id").split("-")[2];
                    let party = currentElement.attr("id").split("-")[3];
                    let candidateData = candidates.find(c => c.name == candidate);

                    if (candidateData.party === party) {
                    let newValue = 100;
                    if (currentValue != newValue) {
                        currentElement.property("value", newValue);
                        currentElement.dispatch("input");
                    }
                    }
                });

            });

        d3.select(window).on("load", loadData());
    });
 
    window.onclick = function(event) {
        if (event.target == shareModal.node()) {
            closeShare();
        }
    }

function copyToClipboard() {
    let text = urlShare.text();
    let element = event.target;
    if (element.id !== "share-modal-link") {
        element = element.parentNode;
    }

    navigator.clipboard.writeText(text)
        .then(() => {
            let originalText = d3.select("#url-to-copy").text();
            d3.select("#url-to-copy")
            .text("Copiado!")
            setTimeout(function() {
                d3.select("#url-to-copy")
                .text(originalText);
            }, 1000)
        })
        .catch(err => {
            console.error('Could not copy text: ', err);
        });
}

// randomize experience
// add whisker test and tasks
// standardize instructions for the tasks


</script>
</body>
</html>
