
input[type="number"] {
    font-size: 20px;
    color: #333;
    text-align: center;
    border: 1px solid #8b8b8b;
    border-radius: 4px;
    width:60px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    /* styles here apply to both buttons */
    background-color: red;
}

input[type="number"]::-webkit-inner-spin-button {
    color:red;
}

.range-input {
    -webkit-appearance: none; 
    appearance: none;
    height: 20px; 
    background: #D7EAD7; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius:5px;
    border: 1px solid #2b2b2b;
    margin:5px;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px; 
    background-color: #FBFEFB;
    border-radius:10px;
    border:1px solid #333;
    cursor: pointer;
    box-shadow: 407px 0 0 400px #D7EAD7;
    transition:  0.1s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px; 
    background-color: #FBFEFB;
    border-radius:10px;
    border:1px solid #333;
    cursor: pointer;
    box-shadow: -407px 0 0 100px #D7EAD7;
    transition:  0.1s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #e2e2e2;
}
